.form {
  display: flex;
  margin: 2rem auto;
  width: 100%;
  flex-direction: column;
  padding-bottom: 2rem;
  background: var(--bg);
}
.wrapper__input {
  width: 80%;
  height: 4rem;
  margin: 0.5rem auto;
}
.input:first-child {
  margin-top: 4rem;
}
.input {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 1rem;

  @media (max-width: 420px) {
    width: 80%;
  }
}

.wrapper__button {
  margin-bottom: 2rem;
  width: 6rem;
  height: 3rem;
  color: var(--gray-50);
  background: var(--gray-800);
  margin: 0 auto;
  border-radius: 0.5rem;
  &:hover {
    color: var(--bg);
    background: rgb(194, 181, 3);
  }

  &:disabled {
    color: var(--white);
    cursor: not-allowed;
    background: var(--red-500);
  }
}

.wrapper {
  position: relative;
  display: flex;
  height: 3rem;
  input {
    height: 3rem;
    width: 100%;
    border: 2px solid #888;
    border-radius: 0.5em;
    outline: none;
    background: transparent;
    color: #f7f7f7;
    font-size: 1rem;
    text-indent: 1rem;
    transition: all 0.35s;
  }
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  left: 0.65rem;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}
.isValue {
  position: absolute;
  top: 50%;
  color: #888;
  left: 0.65rem;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
  background: #16141b;
  color: var(--yellow);
  transform: translateY(-2rem);
}
.icon svg {
  top: 50%;
  right: 0.5em;
  position: absolute;
  transform: translateY(-50%);
  font-size: 1.675rem;
  color: #888;
  transition: all 0.35s;
}
.error__input {
  color: #fa5a2a;
  font-size: 0.7rem;
  padding: 0.25rem 0;
}

.wrapper__error {
  position: relative;
  display: flex;
  height: 3rem;
  input {
    height: 3rem;
    width: 100%;
    border: 2px solid #888;
    border-radius: 0.5em;
    outline: none;
    background: transparent;
    color: #fa5a2a;
    font-size: 1rem;
    text-indent: 1rem;
    transition: all 0.35s;
  }
  input:focus {
    border-color: var(--yellow);
  }
  input:focus ~ svg {
    fill: var(--yellow);
  }
  input:focus ~ svg {
    fill: #fa5a2a;
  }
  input:focus ~ .label {
    background: #16141b;
    color: var(--yellow);
    transform: translateY(-2rem);
  }
}
